<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <div class="column1">
            <h3 style="padding-left:100px">Feature Details</h3>
            <div class="container-fluid">
                <div class="container">
                    <div class="text-box">
                        Review Type
                    </div>
                    <div class="content">
                        <label for="dropdown1">New Review</label>
                        <select id="dropdown1">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Title
                    </div>
                    <div class="content">
                        P01:Review tool online
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Owner
                    </div>
                    <div class="content">
                        xyz@nokia.com
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Category
                    </div>
                    <div class="content">
                        <label for="dropdown2">label </label>
                        <select id="dropdown2">
                        <option value=""></option>
                        <option value="option1">Operability</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Sol Area
                    </div>
                    <div class="content">
                        <label for="dropdown3">Example</label>
                        <select id="dropdown3">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Req Area
                    </div>
                    <div class="content">
                        <label for="dropdown4">Example</label>
                        <select id="dropdown4">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Release
                    </div>
                    <div class="content">
                        <label for="dropdown5">Release label</label>
                        <select id="dropdown5">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        RAT
                    </div>
                    <div class="content">
                        <label for="dropdown6">dropdown here</label>
                        <select id="dropdown6">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        Review start
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="start date" class="input" id="startDateInput">
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Review end
                    </div>
                    <div class="content">
                        <input type="end date" placeholder="end date" class="input" id="endDateInput">
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        Primary TM
                    </div>
                    <div class="content">
                        <input type="email" placeholder="xyz@nokia.com" class="input" id="primaryTMInput">
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Sign off
                    </div>
                    <div class="content">
                        <label for="dropdown7">dropdown here</label>
                        <select id="dropdown7">
						<option value=""></option>
						<option value="option1">Option 1</option>
						<option value="option2">Option 2</option>
						<option value="option3">Option 3</option>
					</select>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        Sign off
                    </div>
                    <div class="content review">
                        <input type="email" placeholder="review summary" class="input" id="reviewSummaryInput" style="background-color:green">
                    </div>
                </div>
            </div>
        </div>



        <div class="column2">
            <h3 style="padding-left:100px">Feature Details</h3>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        Review start
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="start date" class="input" id="startDateInput2">
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Review end
                    </div>
                    <div class="content">
                        <input type="end date" placeholder="end date" class="input" id="endDateInput2">
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        Primary TM
                    </div>
                    <div class="content">
                        <input type="email" placeholder="xyz@nokia.com" class="input" id="primaryTMInput2">
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Sign off
                    </div>
                    <div class="content">
                        <label for="dropdown8">dropdown here</label>
                        <select id="dropdown8">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        Sign off
                    </div>
                    <div class="content review">
                        <input type="email" placeholder="review summary" class="input" id="reviewSummaryInput2" style="background-color:green">
                    </div>
                </div>
            </div>
        </div>

        <div class="column3">
            <h3 style="padding-left:100px">Feature Details</h3>
            <div class="container-fluid">
                <div class="container">
                    <div class="text-box">
                        Review Type
                    </div>
                    <div class="content">
                        <label for="dropdown1">New Review</label>
                        <select id="dropdown1">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                    <div class="text-box">
                        Review Type
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Title
                    </div>
                    <div class="content">
                        P01:Review tool online
                    </div>
                    <div class="text-box">
                        Title
                    </div>
                </div>

                <div class="container">
                    <div class="text-box">
                        Owner
                    </div>
                    <div class="content">
                        xyz@nokia.com
                    </div>
                    <div class="text-box">
                        Owner
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Category
                    </div>
                    <div class="content">
                        <label for="dropdown2">label </label>
                        <select id="dropdown2">
                        <option value=""></option>
                        <option value="option1">Operability</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                    <div class="text-box">
                        Category
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Sol Area
                    </div>
                    <div class="content">
                        <label for="dropdown3">Example</label>
                        <select id="dropdown3">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                    <div class="text-box">
                        Sol Area
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Req Area
                    </div>
                    <div class="content">
                        <label for="dropdown4">Example</label>
                        <select id="dropdown4">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                    <div class="text-box">
                        Req Area
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Release
                    </div>
                    <div class="content">
                        <label for="dropdown5">Release label</label>
                        <select id="dropdown5">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                    <div class="text-box">
                        Release
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        RAT
                    </div>
                    <div class="content">
                        <label for="dropdown6">dropdown here</label>
                        <select id="dropdown6">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                    <div class="text-box">
                        RAT
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        Review start
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="start date" class="input" id="startDateInput">
                    </div>

                </div>
                <div class="container">
                    <div class="text-box">
                        Review end
                    </div>
                    <div class="content">
                        <input type="end date" placeholder="end date" class="input" id="endDateInput">
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        Primary TM
                    </div>
                    <div class="content">
                        <input type="email" placeholder="xyz@nokia.com" class="input" id="primaryTMInput">
                    </div>
                    <div class="text-box">
                        Primary TM
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Sign off
                    </div>
                    <div class="content">
                        <label for="dropdown7">dropdown here</label>
                        <select id="dropdown7">
						<option value=""></option>
						<option value="option1">Option 1</option>
						<option value="option2">Option 2</option>
						<option value="option3">Option 3</option>
					</select>
                    </div>
                    <div class="text-box">
                        Sign off
                    </div>
                </div>
            </div>


        </div>

    </div>

</body>

</html>