<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FSO toolkit</title>
</head>

<body>
    <div class="main">
        <div class="column1">
            <h3 style="padding-left:100px">Feature Details</h3>
            <div class="container-fluid">
                <div class="container">
                    <div class="text-box">
                        Review Type
                    </div>
                    <div class="content">
                        <label for="dropdown1">New Review</label>
                        <select id="dropdown1">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Title
                    </div>
                    <div class="content">
                        P01:Review tool online
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Owner
                    </div>
                    <div class="content">
                        xyz@nokia.com
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Category
                    </div>
                    <div class="content">
                        <label for="dropdown2">label </label>
                        <select id="dropdown2">
                        <option value=""></option>
                        <option value="option1">Operability</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Sol Area
                    </div>
                    <div class="content">
                        <label for="dropdown3">Example</label>
                        <select id="dropdown3">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Req Area
                    </div>
                    <div class="content">
                        <label for="dropdown4">Example</label>
                        <select id="dropdown4">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Release
                    </div>
                    <div class="content">
                        <label for="dropdown5">Release label</label>
                        <select id="dropdown5">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        RAT
                    </div>
                    <div class="content">
                        <label for="dropdown6">dropdown here</label>
                        <select id="dropdown6">
                        <option value=""></option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        Review start
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="start date" class="input" id="startDateInput">
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Review end
                    </div>
                    <div class="content">
                        <input type="end date" placeholder="end date" class="input" id="endDateInput">
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        Primary TM
                    </div>
                    <div class="content">
                        <input type="email" placeholder="xyz@nokia.com" class="input" id="primaryTMInput">
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Sign off
                    </div>
                    <div class="content">
                        <label for="dropdown7">dropdown here</label>
                        <select id="dropdown7">
						<option value=""></option>
						<option value="option1">Option 1</option>
						<option value="option2">Option 2</option>
						<option value="option3">Option 3</option>
					</select>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        Review Summary
                    </div>
                    <div class="content review">
                        <input type="email" placeholder="review summary" class="input" id="reviewSummaryInput" style="background-color:green">
                    </div>
                </div>
            </div>
        </div>



        <div class="column2">
            <h3 style="padding-left:100px">Review Tool</h3>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container" style="padding-left:60px">
                    <button class="btn btn-primary" id="registerButton">Register</button>

                </div>
                <div class="container" style="padding-left:60px">
                    <button class="btn btn-primary" id="UpdateButton">Update Reviewers</button>

                </div>
                <div class="container" style="padding-left:60px">
                    <button class="btn btn-primary" id="EmailButton">Draft Email</button>

                </div>
                <div class="container" style="padding-left:60px">
                    <button class="btn btn-primary" id="StatusButton">Check Review Status</button>

                </div>
                <h3 style="padding-left:60px">Reviewers To be Added?</h3>
                <div class="radio-group" style="padding-left: 100px;">
                    <label>
                      <input type="radio" name="option" checked> YES
                    </label>
                    <label>
                      <input type="radio" name="option"> NO
                    </label>

                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <h3 style="padding-left:60px">Conditional Reviewers Selector</h3>
                <div class="container">
                    <div class="checkbox-group">
                        <label>
                          <input type="checkbox"> Comp1
                        </label>
                        <label>
                          <input type="checkbox"> Comp2
                        </label>
                    </div>
                </div>
                <div class="container">
                    <div class="checkbox-group">
                        <label>
                          <input type="checkbox"> Comp3
                        </label>
                        <label>
                          <input type="checkbox"> Comp4
                        </label>
                    </div>
                </div>
                <div class="container">
                    <div class="checkbox-group">
                        <label>
                          <input type="checkbox"> Comp5
                        </label>
                        <label>
                          <input type="checkbox"> Comp6
                        </label>
                    </div>
                </div>
                <div class="container">
                    <div class="checkbox-group" style="padding-left:77px">
                        <label>
                          <input type="checkbox"> Comp7
                        </label>

                    </div>
                </div>
            </div>


        </div>

        <div class="column3">
            <h3 style="padding-left:100px">Mandatory Reviewers</h3>
            <div class="container-fluid">
                <div class="container">
                    <div class="text-box">
                        Technical Manager
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="managerinput">
                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        RA Lead(4G)
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="ralead4ginput">
                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>

                <div class="container">
                    <div class="text-box">
                        RA Lead(5G)
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="ralead5ginput">

                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        FS1TA Owner
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="fs1tainput">

                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Guardian
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="guardianinput">

                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        System Architect
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="architectinput">

                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Other Mandatory
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="otherinput">

                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>

            </div>
            <h3 style="padding-left:100px"> Optional Reviewers</h3>
            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box">
                        FST
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="fstinput">
                    </div>

                </div>
                <div class="container">
                    <div class="text-box">
                        APO
                    </div>
                    <div class="content">
                        <input type="end date" placeholder="" class="input" id="apoinput">
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Other Optional
                    </div>
                    <div class="content">
                        <input type="end date" placeholder="" class="input" id="optionalinput">
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <h3 style="padding-left:100px">Conditional Reviewers</h3>
                <div class="container">
                    <div class="text-box">
                        Comp1
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp1">
                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Comp2
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp2">
                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>

                <div class="container">
                    <div class="text-box">
                        Comp3
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp3">

                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Comp4
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp4">

                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Comp5
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp5">

                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Comp6
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp6">

                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box">
                        Comp7
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp7">

                    </div>
                    <div class="text-box">
                        Reviewed/To be Reviewed
                    </div>
                </div>

            </div>


        </div>

    </div>

</body>
<style>
    .container {
        display: flex;
      }
      
      .text-box {
        background-color: blue;
        color: white;
        padding: 10px;
        width: 100px;
        border: 2px solid black;
      }
      
      .dropdown-container {
        margin: 10px;
      }
      
      .content {
        border: 2px solid black;
        padding: 10px;
        width: 200px;
      }
      
      .container-fluid {
        margin-top: 10px;
      }
      
      .review {
        background-color: green;
      }
      
      .main{
        display:flex;
        justify-content:center;
      }
      .column1,
      .column2,
      .column3{
        margin-left:40px;
        margin-right:40px;
      }
      
      .btn {
        width:200px;
        padding: 12px 24px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 20px;
      }
      
      .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        margin-right: 10px;
      }
      
      .btn-primary:hover {
        background-color: #0069d9;
      }
      
      .btn-primary:active {
        background-color: #0056b3;
      }
      .radio-group {
        display: flex;
        gap: 10px;
        
      }
      
      .checkbox-group {
        display: flex;
        gap: 10px;
        justify-content:center;
      }
      
      .checkbox-group label {
        display: inline-block;
        border: 2px solid #ccc;
        padding: 5px 10px;
        border-radius: 4px;
        margin-left:50px;
        margin-top:20px;
      }
      
      .checkbox-group label input[type="checkbox"] {
        margin-right: 5px;
      }
      
      .checkbox-group label input[type="checkbox"]:checked {
        background-color: #007bff;
        color: #fff;
      }
      
      
      
      
      
      
      
      
      .containers {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      
      .card {
        width: 80%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      
      .card-header {
        background-color: #f4f4f4;
        padding: 10px;
        border-bottom: 1px solid #ccc;
        text-align: center;
      }
      
      .card-body {
        padding: 10px;
        
      }
      
      .card-body input[type="text"] {
        width: 100%;
        height: 30px;
        padding: 5px;
        font-size: 16px;
        margin-bottom: 10px;
      }
      
      .card-body button {
        padding: 5px 10px;
        font-size: 16px;
      }
      
      .comments {
        width: 95%;
        text-align: justify;
      }
      
      .comments h2 {
        text-align: center;
      }
      
      .comments ul {
        list-style-type: none;
        padding: 0;
        width:100%;
      }
      
      .comments li {
        background-color: #f4f4f4;
        padding: 10px;
        margin-bottom: 10px;
        width:100%;
      }
      
      .comments li:last-child {
        margin-bottom: 0;
      }
      .comment-user {
        font-weight: bold;
      }
      <style/>
</html>