<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <div class="left">
        <h3 style="padding-left:100px">Feature Details</h3>
        <div class="container-fluid">
            <div class="container">
                <div class="text-box">
                    Review Type
                </div>
                <div class="content">
                    <label for="dropdown">New Review</label>
                    <select id="dropdown">
		  <option value=""></option>
		  <option value="option1">Option 1</option>
		  <option value="option2">Option 2</option>
		  <option value="option3">Option 3</option>
		</select>
                </div>
            </div>
            <div class="container">
                <div class="text-box">
                    Title
                </div>
                <div class="content">
                    P01:Review tool online

                </div>
            </div>
            <div class="container">
                <div class="text-box">
                    Owner
                </div>
                <div class="content">
                    xyz@nokia.com
                </div>
            </div>
            <div class="container">
                <div class="text-box">
                    Category
                </div>
                <div class="content">
                    <label for="dropdown">label </label>
                    <select id="dropdown">
		  <option value=""></option>
		  <option value="option1">Operability</option>
		  <option value="option2">Option 2</option>
		  <option value="option3">Option 3</option>
		</select>
                </div>
            </div>
            <div class="container">
                <div class="text-box">
                    Sol Area
                </div>
                <div class="content">
                    <label for="dropdown">Example</label>
                    <select id="dropdown">
		  <option value=""></option>
		  <option value="option1">Option 1</option>
		  <option value="option2">Option 2</option>
		  <option value="option3">Option 3</option>
		</select>
                </div>
            </div>
            <div class="container">
                <div class="text-box">
                    Req Area
                </div>
                <div class="content">
                    <label for="dropdown">Example</label>
                    <select id="dropdown">
		  <option value=""></option>
		  <option value="option1">Option 1</option>
		  <option value="option2">Option 2</option>
		  <option value="option3">Option 3</option>
		</select>
                </div>
            </div>
            <div class="container">
                <div class="text-box">
                    Release
                </div>
                <div class="content">
                    <label for="dropdown">Release label</label>
                    <select id="dropdown">
		  <option value=""></option>
		  <option value="option1">Option 1</option>
		  <option value="option2">Option 2</option>
		  <option value="option3">Option 3</option>
		</select>
                </div>
            </div>
            <div class="container">
                <div class="text-box">
                    RAT
                </div>
                <div class="content">
                    <label for="dropdown">dropdown here</label>
                    <select id="dropdown">
		  <option value=""></option>
		  <option value="option1">Option 1</option>
		  <option value="option2">Option 2</option>
		  <option value="option3">Option 3</option>
		</select>
                </div>
            </div>

        </div>

        <div class="container-fluid" style="margin-top:50px">


            <div class="container">
                <div class="text-box">
                    Review start
                </div>
                <div class="content">
                    <input type="start date" placeholder="start date" class="input" id="nameInput">

                </div>
            </div>
            <div class="container">
                <div class="text-box">
                    Review end
                </div>
                <div class="content">
                    <input type="end date" placeholder="end date" class="input" id="nameInput">
                </div>
            </div>






        </div>


        <div class="container-fluid" style="margin-top:50px">


            <div class="container">
                <div class="text-box">
                    Primary TM
                </div>
                <div class="content">
                    <input type="email" placeholder="xyz@nokia.com" class="input" id="nameInput">

                </div>
            </div>
            <div class="container">
                <div class="text-box">
                    Review end
                </div>
                <div class="content">
                    <label for="dropdown">dropdown here</label>
                    <select id="dropdown">
		  	<option value=""></option>
		  	<option value="option1">Option 1</option>
		  	<option value="option2">Option 2</option>
		  	<option value="option3">Option 3</option>
			</select
			</div> 
        </div>






    </div>
</div>

</body>

</html>