.container {
  display: flex;
}

.text-box {
  background-color: blue;
  color: white;
  padding: 10px;
  width: 100px;
  border: 2px solid black;
}

.dropdown-container {
  margin: 10px;
}

.content {
  border: 2px solid black;
  padding: 10px;
  width: 200px;
}

.container-fluid {
  margin-top: 10px;
}

.review {
  background-color: green;
}

.main{
  display:flex;
  justify-content:center;
}
.column1,
.column2,
.column3{
  margin-left:40px;
  margin-right:40px;
}

.btn {
  width:200px;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  margin-right: 10px;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.btn-primary:active {
  background-color: #0056b3;
}
.radio-group {
  display: flex;
  gap: 10px;
  
}

.checkbox-group {
  display: flex;
  gap: 10px;
  justify-content:center;
}

.checkbox-group label {
  display: inline-block;
  border: 2px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  margin-left:50px;
  margin-top:20px;
}

.checkbox-group label input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-group label input[type="checkbox"]:checked {
  background-color: #007bff;
  color: #fff;
}