<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>FSO toolkit</title>
</head>

<body>
    <header class="text-gray-400 bg-gray-800 body-font">
        <div class="container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <img src="{{ url_for('static', filename='fs0.PNG') }}" fill="none" stroke="currentColor"
                    stroke-linecap="rectangle" stroke-linejoin="round" stroke-width="0" class="w-46 h-12 text-white p-0 bg-blue-400 rectangle-full"
                    viewBox="0 45 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>

                <span class="ml-3 text-xl"></span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a href="" class="hover:text-white bg-gray-800 text-xl"><button CLASS="btn">Review</button></a>
                <a href="comment" class="hover:text-white bg-gray-800 text-xl"><button CLASS="btn">Comment</button></a>
            </nav>
            <button class="inline-flex items-center bg-gray-800 border-0 py-0 px-1 focus:outline-none hover:bg-gray-700 rounded text-base ml-4 mb-4 md:mt-0 text-xl">MyAccount
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </button>
        </div>
    </header>

    <form method="POST" enctype="multipart/form-data">
        <div class="main">
            <div class="column1">
                <h3 style="padding-left:100px;">Feature Details</h3>
                <div class="container-fluid">
                <div class="container">
                    <div class="text-box" id="feature_details">
                        Review Type
                    </div>
                    <div class="content">
                        <label for="dropdown1"></label>
                        <select id="dropdown1" name="review_type" >
                        <option value=""></option>
                        <option value="New_Review" id="drop1_opt1">New Review</option>
                        <option value="Re_Review" id="drop1_opt2">Re-Review</option>
                    </select>
                    </div>
                </div>


                <div class="container">
                    <div class="text-box" id="title">
                        Title
                    </div>
                    <div class="content">
                        <input type="text" placeholder="P01:Review tool online" class="input" name="Titleinput">
                    </div>
                </div>


                <div class="container">
                    <div class="text-box" id="owner">
                        Owner
                    </div>
                    <div class="content">
                        xyz@nokia.com
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="category">
                        Category
                    </div>

                    <div class="content">
                        <label for="dropdown2">label </label>
                        <select id="dropdown2"name="review_type2" >
                        <option value=""></option>
                        <option value="Cloud" id="drop2_opt1">Cloud</option>
                        <option value="Operability" id="drop2_opt2">Operability</option>
                        <option value="RRM_and_Telecom" id="drop2_opt3">RRM_and_Telecom</option>
                        <option value="Site_Solution" id="drop2_opt4">Site_Solution</option>
                        <option value="Transport" id="drop2_opt5">Transport</option>
                    </select>
                    </div>
                </div>


                <div class="container">
                    <div class="text-box" id="sol_area">
                        Sol Area
                    </div>
                    <div class="content">
                        <label for="dropdown3">Example</label>
                        <select id="dropdown3" name="review_type3">
                        <option value=""></option>
                        <option value="SA/RandT1" id="drop3_opt1">SA/RandT1</option>
                        <option value="SA/RandT2" id="drop3_opt2">SA/RandT2</option>
                        <option value="SA/RandT3" id="drop3_opt3">SA/RandT3</option>
                        <option value="SA/RandT4" id="drop3_opt4">SA/RandT4</option>
                        <option value="SA/RandT5" id="drop3_opt5">SA/RandT5</option>
                        <option value="SA/RandT6" id="drop3_opt6">SA/RandT6</option>
                        <option value="SA/RandT7" id="drop3_opt7">SA/RandT7</option>
                    </select>
                    </div>
                </div>


                <div class="container">
                    <div class="text-box" id="req_area">
                        Req Area
                    </div>
                    <div class="content">
                        <label for="dropdown4">Example</label>
                        <select id="dropdown4" name="review_type4">
                        <option value=""></option>
                        <option value="RA/RandT1" id="drop4_opt1">RA/RandT1</option>
                        <option value="RA/RandT2" id="drop4_opt2">RA/RandT2</option>
                        <option value="RA/RandT3" id="drop4_opt3">RA/RandT3</option>
                        <option value="RA/RandT4" id="drop4_opt4">RA/RandT4</option>
                        <option value="RA/RandT5" id="drop4_opt5">RA/RandT5</option>
                        <option value="RA/RandT6" id="drop4_opt6">RA/RandT6</option>
                        <option value="RA/RandT7" id="drop4_opt7">RA/RandT7</option>
                    </select>
                    </div>
                </div>


                <div class="container">
                    <div class="text-box" id="release">
                        Release
                    </div>
                    <div class="content">
                        <label for="dropdown5">Release label</label>
                        <select id="dropdown5" name="review_type5" >
                        <option value=""></option>
                        <option value="23R1" id="drop5_opt1">23R1</option>
                        <option value="23R2" id="drop5_opt2">23R2</option>
                        <option value="23R3" id="drop5_opt3">23R3</option>
                        <option value="23R4" id="drop5_opt4">23R4</option>
                        <option value="24R1" id="drop5_opt5">24R1</option>
                        <option value="24R2" id="drop5_opt6">24R2</option>
                        <option value="24R3" id="drop5_opt7">24R3</option>
                        <option value="24R4" id="drop5_opt8">24R4</option>
                        <option value="25R1" id="drop5_opt9">25R1</option>
                        <option value="25R2" id="drop5_opt10">25R2</option>
                        <option value="25R3" id="drop5_opt11">25R3</option>
                        <option value="25R4" id="drop5_opt12">25R4</option>
                    </select>
                    </div>
                </div>


                <div class="container">
                    <div class="text-box" id="rat">
                        RAT
                    </div>
                    <div class="content">
                        <label for="dropdown6">dropdown here</label>
                        <select id="dropdown6" name="review_type6" >
                        <option value=""></option>
                        <option value="4G" id="drop6_opt1">4G</option>
                        <option value="5G" id="drop6_opt2">5G</option>
                        <option value="both" id="drop6_opt3">both 4G and 5G</option>
                        <option value="Multirat" id="drop6_opt4">Multirat(including 2G/3G)</option>
                    </select>
                    </div>
                </div>
            </div>


            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box" id="review_start_date">
                        Review start
                    </div>
                    <div class="content">
                        <input type="date" placeholder="start date" class="input" name="review_start_date">

                        
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="review_end_date">
                        Review end
                    </div>
                    <div class="content">
                        <input type="date" placeholder="end date" class="input" name="review_end_date">

                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box" id="primary_tm">
                        Primary TM
                    </div>
                    <div class="content" style="width:auto">
                        <input type="email" placeholder="xyz@nokia.com" class="input" id="primaryTMInput" name="primaryTMInput">
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="sign_off">
                        Sign off
                    </div>
                    <div class="content">
                        <label for="dropdown7">dropdown here</label>
                        <select id="dropdown7" name="review_type7" >
						<option value=""></option>
						<option value="yes" id="drop7_opt1">Yes</option>
						<option value="no" id="drop7_opt2">No</option>
						<option value="ongoing" id="drop7_opt3">Review Ongoing</option>
					</select>
                    </div>
                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box" id="review_summary">
                        Review Summary
                    </div>
                    <div class="content review" style="width:auto">
                        <input type="email" placeholder="review summary" class="input" id="reviewSummaryInput" name="reviewSummaryInput" style="background-color:green">
                    </div>
                </div>
            </div>
        </div>



        <div class="column2">
            <h3 style="padding-left:100px">Review Tool</h3>

            <div class="container-fluid" style="margin-top:50px">
                <div class="container" style="padding-left:60px">
                    <button class="btn btn-primary" id="registerButton">Register</button>

                </div>
                <div class="container" style="padding-left:60px">
                    <button class="btn btn-primary" id="UpdateButton">Update Reviewers</button>

                </div>
                <div class="container" style="padding-left:60px">
                    <button type="submit" class="btn btn-primary" id="EmailButton" href="/">Draft Email</button>
  
                </form>
                </div>
                <div class="container" style="padding-left:60px">
                    <button class="btn btn-primary" id="StatusButton">Check Review Status</button>

                </div>
                <h3 style="padding-left:60px">Reviewers To be Added?</h3>
                <div class="radio-group" id="radio_buttons" style="padding-left: 100px;">
                    <label>
                      <input type="radio" name="option" id="yes" checked> YES
                    </label>
                    <label>
                      <input type="radio" id="no" name="option"> NO
                    </label>

                </div>
            </div>

            <div class="container-fluid" style="margin-top:50px">
                <h3 style="padding-left:60px">Conditional Reviewers Selector</h3>
                <div class="container">
                    <div class="checkbox-group" id="check1">
                        <label>
                          <input type="checkbox" id="comp1"> Comp1
                        </label>
                        <label>
                          <input type="checkbox" id="comp2"> Comp2
                        </label>
                    </div>
                </div>
                <div class="container">
                    <div class="checkbox-group" id="check2">
                        <label>
                          <input type="checkbox" id="comp3"> Comp3
                        </label>
                        <label>
                          <input type="checkbox" id="comp4"> Comp4
                        </label>
                    </div>
                </div>
                <div class="container">
                    <div class="checkbox-group" id="check3">
                        <label>
                          <input type="checkbox" id="comp5"> Comp5
                        </label>
                        <label>
                          <input type="checkbox" id="comp6"> Comp6
                        </label>
                    </div>
                </div>
                <div class="container">
                    <div class="checkbox-group" id="check4" style="padding-left:77px">
                        <label>
                          <input type="checkbox" id="comp7"> Comp7
                        </label>

                    </div>
                </div>
            </div>


        </div>

        <div class="column3">
            <h3 style="padding-left:100px">Mandatory Reviewers</h3>
            <div class="container-fluid">
                <div class="container">
                    <div class="text-box" id="technical_manager">
                        Technical Manager
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="managerinput">
                    </div>
                    <div class="text-box" id="manager_review">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="ra_lead4g">
                        RA Lead(4G)
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="ralead4ginput">
                    </div>
                    <div class="text-box" id="ralead4g_review">
                        Reviewed/To be Reviewed
                    </div>
                </div>

                <div class="container">
                    <div class="text-box" id="ra_lead5g">
                        RA Lead(5G)
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="ralead5ginput">

                    </div>
                    <div class="text-box" id="ralead5g_review">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="fs1ta_owner">
                        FS1TA Owner
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="fs1tainput">

                    </div>
                    <div class="text-box" id="fs1ta_review">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="guardian">
                        Guardian
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="guardianinput">

                    </div>
                    <div class="text-box" id="guardian_review">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="system_architect">
                        System Architect
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="architectinput">

                    </div>
                    <div class="text-box" id="system_architect_review">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="other_mandatory">
                        Other Mandatory
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="otherinput">

                    </div>
                    <div class="text-box" id="other_mandatory_review">
                        Reviewed/To be Reviewed
                    </div>
                </div>

            </div>
            <h3 style="padding-left:100px"> Optional Reviewers</h3>
            <div class="container-fluid" style="margin-top:50px">
                <div class="container">
                    <div class="text-box" id="fst">
                        FST
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="fstinput">
                    </div>

                </div>
                <div class="container">
                    <div class="text-box" id="apo">
                        APO
                    </div>
                    <div class="content">
                        <input type="end date" placeholder="" class="input" id="apoinput">
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="other_opt">
                        Other Optional
                    </div>
                    <div class="content">
                        <input type="end date" placeholder="" class="input" id="optionalinput">
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <h3 style="padding-left:100px">Conditional Reviewers</h3>
                <div class="container">
                    <div class="text-box" id="conditional_comp1">
                        Comp1
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp1">
                    </div>
                    <div class="text-box" id="conditional_review1">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="conditional_comp2">
                        Comp2
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp2">
                    </div>
                    <div class="text-box" id="conditional_review2">
                        Reviewed/To be Reviewed
                    </div>
                </div>

                <div class="container">
                    <div class="text-box" id="conditional_comp3">
                        Comp3
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp3">

                    </div>
                    <div class="text-box" id="conditional_review3">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="conditional_comp4">
                        Comp4
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp4">

                    </div>
                    <div class="text-box" id="conditional_review4">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="conditional_comp5">
                        Comp5
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp5">

                    </div>
                    <div class="text-box" id="conditional_review5">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="conditional_comp6">
                        Comp6
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp6">

                    </div>
                    <div class="text-box" id="conditional_review6">
                        Reviewed/To be Reviewed
                    </div>
                </div>
                <div class="container">
                    <div class="text-box" id="conditional_comp7">
                        Comp7
                    </div>
                    <div class="content">
                        <input type="start date" placeholder="" class="input" id="Comp7">

                    </div>
                    <div class="text-box" id="conditional_review7">
                        Reviewed/To be Reviewed
                    </div>
                </div>

            </div>


        </div>

    </div>
</form>   

    <style>
        .container {
            display: flex;
        }
        
        .text-box {
            background-color: blue;
            color: white;
            padding: 10px;
            width: 100px;
            border: 2px solid black;
        }
        
        .dropdown-container {
            margin: 10px;
        }
        
        .content {
            border: 2px solid black;
            padding: 10px;
            width: 200px;
        }
        
        .container-fluid {
            margin-top: 10px;
        }
        
        .review {
            background-color: green;
        }
        
        .main {
            display: flex;
            justify-content: center;
        }
        
        .column1,
        .column2,
        .column3 {
            margin-left: 40px;
            margin-right: 40px;
        }
        
        .btn {
            width: 200px;
            padding: 12px 24px;
            font-size: 16px;
            border-radius: 8px;
            cursor: pointer;
            margin-bottom: 20px;
        }
        
        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: none;
            margin-right: 10px;
        }
        
        .btn-primary:hover {
            background-color: #0069d9;
        }
        
        .btn-primary:active {
            background-color: #0056b3;
        }
        
        .radio-group {
            display: flex;
            gap: 10px;
        }
        
        .checkbox-group {
            display: flex;
            gap: 10px;
            justify-content: center;
        }
        
        .checkbox-group label {
            display: inline-block;
            border: 2px solid #ccc;
            padding: 5px 10px;
            border-radius: 4px;
            margin-left: 50px;
            margin-top: 20px;
        }
        
        .checkbox-group label input[type="checkbox"] {
            margin-right: 5px;
        }
        
        .checkbox-group label input[type="checkbox"]:checked {
            background-color: #007bff;
            color: #fff;
        }
        
        .containers {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        .card {
            width: 80%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        
        .card-header {
            background-color: #f4f4f4;
            padding: 10px;
            border-bottom: 1px solid #ccc;
            text-align: center;
        }
        
        .card-body {
            padding: 10px;
        }
        
        .card-body input[type="text"] {
            width: 100%;
            height: 30px;
            padding: 5px;
            font-size: 16px;
            margin-bottom: 10px;
        }
        
        .card-body button {
            padding: 5px 10px;
            font-size: 16px;
        }
        
        .comments {
            width: 95%;
            text-align: justify;
        }
        
        .comments h2 {
            text-align: center;
        }
        
        .comments ul {
            list-style-type: none;
            padding: 0;
            width: 100%;
        }
        
        .comments li {
            background-color: #f4f4f4;
            padding: 10px;
            margin-bottom: 10px;
            width: 100%;
        }
        
        .comments li:last-child {
            margin-bottom: 0;
        }
        
        .comment-user {
            font-weight: bold;
        }
    </style>

</body>

</html>